@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
:root{
    font-family: "Space Mono", monospace;
    --Green-400: #26c0ab;

    --Green-900: #00494d;
    --Grey-500: #5e7a7d;
    --Grey-400: #7f9c9f;
    --Grey-200: #c5e4e7;
    --Grey-50: #f4fafb;
    --White: hsl(0, 100%, 100%);
}
/* - Font size (form inputs): 24px */
